<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WinServer Community Nepal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/slider")
    
    @RenderSection("scripts", required: false)

</head>
<body>
    <div class="header">
        @Html.Partial("_Navigation")   
    </div>
    <div>
        @RenderBody()
    </div>
    @Html.Partial("_FooterView")    
        
</body>
</html>
