<div class="container">
    <div class="topLine clearfix">
        <div class="brand-logo pull-left"><img src="~/images/logo.png"></div>
        <div class="visible-xs-block pull-right">
            <a class="" data-toggle="collapse" href="#mainMenu" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-bars"></i></a>
        </div>
        <div class="search-header pull-right">
            <div class="input-group">
                <input type="text" class="form-control input-sm" placeholder="Search..">
                <span class="input-group-btn">
                    <button class="btn btn-sm"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
        <div class="pull-right">

        </div>
    </div>
    <div class="btmLine clearfix">
        <ul id="mainMenu" class="nav navbar-nav collapse navbar-collapse">
            <li class="active">
                @Html.ActionLink("Home", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("About Us", "About", "Home")
            </li>
            <li>
                <a href="partners.html">Partners</a>
            </li>
            <li>
                @Html.ActionLink("Events", "Index", "Event")
            </li>
            <li>
                @Html.ActionLink("Blog", "Index", "Blog")
            </li>
            <li>
                @Html.ActionLink("Contact", "Contact", "Home")
            </li>
            <li></li>
        </ul>
        @Html.Partial("_LoginPartial")

    </div>

    <div class="pull-right header-right">

        <span class="user-links">

        </span>
    </div>
</div>
