@model CommunityApp.Entity.ViewModel.BlogItemDto

@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="light-body">
    <div class="container">
        <div>
            <h2 class="recentPosts">@Html.DisplayFor(item => item.Title)</h2>
            <p>Author : @Html.DisplayFor(item => item.CreatedBy), Date : @Html.DisplayFor(item => item.CreatedDate)</p>
            <hr />
            @Html.Raw(Model.Description)
        </div>
    </div>
</div>
<div class="dark-body">
    <div class="container">
        <div class="topLine clearfix">
            <h2 class="recentPosts">Add your comment</h2>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(item => item.PostId)
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-11">
                            @Html.TextAreaFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-11">
                            <input type="submit" value="Comment" class="btn btn btn-blue" />
                        </div>
                    </div>
                </div>
            }
            <div class="topLine clearfix">
                @if (Model.BlogPostComments != null)
                {

                    <h2 class="recentPosts">Comments</h2>
                    foreach (var item in Model.BlogPostComments)
                    {
                        <hr />
                            @Html.Raw(item.Comment)
                            <p>Commented By: @item.CreatedBy, Date : @item.CreatedDate.ToShortDateString()</p>
                    }

                }
            </div>
        </div>
    </div>
</div>
